body {
 
  background-image: url(https://mobimg.b-cdn.net/v3/fetch/99/99b1f94e983b079412fd1c56fff58e75.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
